In [2]:
import pandas as pd
import numpy as np
import tldextract

In [3]:
alexa_dataframe = pd.read_csv("top-1m.csv", header=None,  index_col=0)

In [4]:
alexa_dataframe

                           1
0
1                 google.com
2                youtube.com
3               facebook.com
4                  baidu.com
5              wikipedia.org
...                      ...
999996              sibf.org
999997          bukapintu.co
999998         klatovynet.cz
999999   elconquistadorfm.cl
1000000    laputertienda.com

[1000000 rows x 1 columns]

In [5]:
alexa_dataframe.rename(columns = {1: 'url'}, inplace = True)

In [6]:
def domain_extract(uri):
    ext = tldextract.extract(uri)
    if (not ext.suffix):
        return np.nan
    else:
        return ext.domain

In [7]:
alexa_dataframe['domain'] = [ domain_extract(uri) for uri in alexa_dataframe['url']]

In [8]:
del alexa_dataframe['url']

In [9]:
alexa_dataframe

                   domain
0
1                  google
2                 youtube
3                facebook
4                   baidu
5               wikipedia
...                   ...
999996               sibf
999997          bukapintu
999998         klatovynet
999999   elconquistadorfm
1000000     laputertienda

[1000000 rows x 1 columns]

In [10]:
alexa_dataframe.drop_duplicates()
alexa_dataframe.dropna()

                   domain
0
1                  google
2                 youtube
3                facebook
4                   baidu
5               wikipedia
...                   ...
999996               sibf
999997          bukapintu
999998         klatovynet
999999   elconquistadorfm
1000000     laputertienda

[999992 rows x 1 columns]

In [11]:
alexa_dataframe = alexa_dataframe.reindex(np.random.permutation(alexa_dataframe.index))
alexa_total = alexa_dataframe.shape[0]

In [12]:
alexa_total

1000000

In [13]:
alexa_dataframe['class'] = 'benign'

In [14]:
alexa_dataframe

                domain   class
0
140914      goodmanmfg  benign
403435    mitchy-world  benign
137832       funabashi  benign
348794     babesaccess  benign
567542      servizipos  benign
...                ...     ...
542189  lachoomemorial  benign
144612      bridgeport  benign
476221         musicum  benign
619212    jacksrbetter  benign
753377           nebar  benign

[1000000 rows x 2 columns]

In [15]:
dga_dataframe = pd.read_csv('dga_domains_full.csv', header=None)

In [16]:
dga_dataframe

            0             1                                 2
0         dga          gozi            mortiscontrastatim.com
1         dga       corebot  cvyh1po636avyrsxebwbkn7.ddns.net
2       legit         alexa                plasticbags.sa.com
3       legit         alexa                      mzltrack.com
4       legit         alexa                      miss-slim.ru
...       ...           ...                               ...
674893    dga      padcrypt              fkmmnlmdokedddmn.com
674894    dga        emotet               cwnhlchfhcqrgass.eu
674895  legit         alexa                        weloty.com
674896    dga  cryptolocker                mwxquxbokithpn.net
674897    dga        necurs                      aecojeyem.ki

[674898 rows x 3 columns]

In [17]:
dga_dataframe = dga_dataframe.loc[dga_dataframe[0] == "dga"]

In [18]:
dga_dataframe

          0             1                                 2
0       dga          gozi            mortiscontrastatim.com
1       dga       corebot  cvyh1po636avyrsxebwbkn7.ddns.net
5       dga       ranbyus                 txumyqrubwutbb.cc
7       dga         symmi            ixekrihagimau.ddns.net
8       dga        emotet               rjyuosmhfnaedlyg.eu
...     ...           ...                               ...
674892  dga       murofet               poeguvtsixuriem.net
674893  dga      padcrypt              fkmmnlmdokedddmn.com
674894  dga        emotet               cwnhlchfhcqrgass.eu
674896  dga  cryptolocker                mwxquxbokithpn.net
674897  dga        necurs                      aecojeyem.ki

[337500 rows x 3 columns]

In [19]:
del dga_dataframe[0]

In [20]:
del dga_dataframe[1]

In [21]:
dga_dataframe['class'] = 'malicious'

C:\Users\Tharindu\miniconda3\envs\ml\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [22]:
dga_dataframe

                                       2      class
0                 mortiscontrastatim.com  malicious
1       cvyh1po636avyrsxebwbkn7.ddns.net  malicious
5                      txumyqrubwutbb.cc  malicious
7                 ixekrihagimau.ddns.net  malicious
8                    rjyuosmhfnaedlyg.eu  malicious
...                                  ...        ...
674892               poeguvtsixuriem.net  malicious
674893              fkmmnlmdokedddmn.com  malicious
674894               cwnhlchfhcqrgass.eu  malicious
674896                mwxquxbokithpn.net  malicious
674897                      aecojeyem.ki  malicious

[337500 rows x 2 columns]

In [23]:
dga_dataframe = dga_dataframe.reindex(np.random.permutation(dga_dataframe.index))
dga_total = dga_dataframe.shape[0]

In [24]:
dga_total

337500

In [25]:
dga_dataframe['domain'] = [ domain_extract(uri) for uri in dga_dataframe[2]]

In [26]:
dga_dataframe[2] = dga_dataframe['domain']

In [27]:
del dga_dataframe['domain']

In [28]:
dga_dataframe.rename(columns = {2: 'domain'}, inplace = True)

In [29]:
dga_dataframe

                           domain      class
185305               60qc2kas6s68  malicious
470294             lfevecchsvnech  malicious
484018               2wq8agigeoa8  malicious
514786  facegradepromisewakedirty  malicious
476914         3i3te31rvnjl7xzuvp  malicious
...                           ...        ...
664484               kevulfmduoos  malicious
70014                    osicwitd  malicious
46446                        ddns  malicious
40523                        ddns  malicious
116695                       govh  malicious

[337500 rows x 2 columns]

In [30]:
dga_dataframe.drop_duplicates()
dga_dataframe.dropna()

                           domain      class
185305               60qc2kas6s68  malicious
470294             lfevecchsvnech  malicious
484018               2wq8agigeoa8  malicious
514786  facegradepromisewakedirty  malicious
476914         3i3te31rvnjl7xzuvp  malicious
...                           ...        ...
664484               kevulfmduoos  malicious
70014                    osicwitd  malicious
46446                        ddns  malicious
40523                        ddns  malicious
116695                       govh  malicious

[337181 rows x 2 columns]

In [42]:
all_domains = pd.concat([alexa_dataframe, dga_dataframe], ignore_index=True)

In [43]:
all_domains

               domain      class
0          goodmanmfg     benign
1        mitchy-world     benign
2           funabashi     benign
3         babesaccess     benign
4          servizipos     benign
...               ...        ...
1337495  kevulfmduoos  malicious
1337496      osicwitd  malicious
1337497          ddns  malicious
1337498          ddns  malicious
1337499          govh  malicious

[1337500 rows x 2 columns]

In [48]:
all_domains['type'] = [str(type(x)) for x in all_domains['domain']]

In [50]:
all_domains.iloc[0]['type'] == "<class 'str'>"

True

In [51]:
all_domains = all_domains[all_domains.type == "<class 'str'>"]

In [52]:
all_domains

               domain      class           type
0          goodmanmfg     benign  <class 'str'>
1        mitchy-world     benign  <class 'str'>
2           funabashi     benign  <class 'str'>
3         babesaccess     benign  <class 'str'>
4          servizipos     benign  <class 'str'>
...               ...        ...            ...
1337495  kevulfmduoos  malicious  <class 'str'>
1337496      osicwitd  malicious  <class 'str'>
1337497          ddns  malicious  <class 'str'>
1337498          ddns  malicious  <class 'str'>
1337499          govh  malicious  <class 'str'>

[1337173 rows x 3 columns]

In [53]:
all_domains['length'] = [len(x) for x in all_domains['domain']]
all_domains = all_domains[all_domains['length'] > 6]

import math
from collections import Counter
 
def entropy(s):
    p, lns = Counter(s), float(len(s))
    return -sum( count/lns * math.log(count/lns, 2) for count in p.values())
  
all_domains['entropy'] = [entropy(x) for x in all_domains['domain']]

C:\Users\Tharindu\miniconda3\envs\ml\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Tharindu\miniconda3\envs\ml\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [55]:
del all_domains['type']

In [57]:
display(all_domains)

                            domain      class  length   entropy
0                       goodmanmfg     benign      10  2.721928
1                     mitchy-world     benign      12  3.584963
2                        funabashi     benign       9  2.947703
3                      babesaccess     benign      11  2.299896
4                       servizipos     benign      10  2.921928
...                            ...        ...     ...       ...
1337491          exefmowfklenwftnw  malicious      17  3.130718
1337492        beauregardwalterson  malicious      19  3.497156
1337493  glassearththinkliveignore  malicious      25  3.623465
1337495               kevulfmduoos  malicious      12  3.251629
1337496                   osicwitd  malicious       8  2.750000

[1067189 rows x 4 columns]

In [61]:
all_domains.dropna()

                            domain      class  length   entropy
0                       goodmanmfg     benign      10  2.721928
1                     mitchy-world     benign      12  3.584963
2                        funabashi     benign       9  2.947703
3                      babesaccess     benign      11  2.299896
4                       servizipos     benign      10  2.921928
...                            ...        ...     ...       ...
1337491          exefmowfklenwftnw  malicious      17  3.130718
1337492        beauregardwalterson  malicious      19  3.497156
1337493  glassearththinkliveignore  malicious      25  3.623465
1337495               kevulfmduoos  malicious      12  3.251629
1337496                   osicwitd  malicious       8  2.750000

[1067189 rows x 4 columns]

In [66]:
X = all_domains[['length', 'entropy']].values
y = np.array(all_domains['class'].tolist()) 

import sklearn.ensemble
from sklearn import feature_extraction


alexa_vc = sklearn.feature_extraction.text.CountVectorizer(analyzer='char', ngram_range=(3,5), min_df=1e-4, max_df=1.0)
counts_matrix = alexa_vc.fit_transform(alexa_dataframe['domain'].apply(lambda x: np.str_(x)))
alexa_counts = np.log10(counts_matrix.sum(axis=0).getA1())
ngrams_list = alexa_vc.get_feature_names()

counts_matrix = alexa_vc.fit_transform(alexa_dataframe['domain'].apply(lambda x: np.str_(x)))
alexa_counts = np.log10(counts_matrix.sum(axis=0).getA1())
ngrams_list = alexa_vc.get_feature_names()

In [67]:
word_dataframe = pd.read_csv('words.csv',header=0)

In [70]:
word_dataframe = word_dataframe[word_dataframe['count'] > 100000]

In [71]:
word_dataframe

               word        count
0               the  23135851162
1                of  13151942776
2               and  12997637966
3                to  12136980858
4                 a   9081174698
...             ...          ...
99482  maintainence       100006
99483       ordonez       100005
99484         natan       100005
99485  muschibilder       100003
99486    cloudscape       100002

[99487 rows x 2 columns]

In [73]:
dict_vc = sklearn.feature_extraction.text.CountVectorizer(analyzer='char', ngram_range=(3,5), min_df=1e-5, max_df=1.0)
counts_matrix = dict_vc.fit_transform(word_dataframe['word'].apply(lambda x: np.str_(x)))
dict_counts = np.log10(counts_matrix.sum(axis=0).getA1())
ngrams_list = dict_vc.get_feature_names()

In [74]:
all_domains['alexa_grams']= alexa_counts * alexa_vc.transform(all_domains['domain']).T 
all_domains['word_grams']= dict_counts * dict_vc.transform(all_domains['domain']).T

C:\Users\Tharindu\miniconda3\envs\ml\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Tharindu\miniconda3\envs\ml\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [75]:
all_domains

,domain,class,length,entropy,alexa_grams,word_grams
0,goodmanmfg,benign,10,2.721928,29.402224,18.160450
1,mitchy-world,benign,12,3.584963,48.090525,25.702450
2,funabashi,benign,9,2.947703,34.285267,23.749444
3,babesaccess,benign,11,2.299896,52.728630,32.235765
4,servizipos,benign,10,2.921928,40.369949,24.595167
...,...,...,...,...,...,...
1337491,exefmowfklenwftnw,malicious,17,3.130718,18.670120,11.930224
1337492,beauregardwalterson,malicious,19,3.497156,109.212499,69.824658
1337493,glassearththinkliveignore,malicious,25,3.623465,124.188452,85.702058
1337495,kevulfmduoos,malicious,12,3.251629,14.453093,8.169795
1337496,osicwitd,malicious,8,2.750000,14.700106,8.477063

In [77]:
all_domains.describe()

             length       entropy   alexa_grams    word_grams
count  1.067189e+06  1.067189e+06  1.067189e+06  1.067189e+06
mean   1.217678e+01  3.023126e+00  4.484426e+01  2.686477e+01
std    4.617171e+00  3.834289e-01  3.218962e+01  2.057668e+01
min    7.000000e+00 -0.000000e+00  0.000000e+00  0.000000e+00
25%    9.000000e+00  2.750000e+00  2.100957e+01  1.188569e+01
50%    1.100000e+01  3.022055e+00  3.791156e+01  2.203262e+01
75%    1.500000e+01  3.277613e+00  6.152255e+01  3.664298e+01
max    6.300000e+01  4.885129e+00  3.320846e+02  2.026353e+02

In [78]:
all_domains.groupby(['class']).mean()

              length   entropy  alexa_grams  word_grams
class
benign     11.343295  2.963872    51.372448   30.293716
malicious  14.361257  3.178425    27.734683   17.877926

In [82]:
weird_cond = (all_domains['class']=='benign') & (all_domains['word_grams']<3) & (all_domains['alexa_grams']<2)
weird = all_domains[weird_cond]
print(weird.shape[0])
display(weird)

900

                    domain   class  length   entropy  alexa_grams  word_grams
391               nzf7rqiv  benign       8  3.000000          0.0     0.00000
1335               9955599  benign       7  0.985228          0.0     0.00000
1771               1562878  benign       7  2.521641          0.0     0.00000
2723            xxf65z4o6a  benign      10  2.921928          0.0     0.00000
4908    0f461325bf56c3e1b9  benign      18  3.503258          0.0     0.00000
...                    ...     ...     ...       ...          ...         ...
987972            xfwkn8au  benign       8  3.000000          0.0     0.00000
989820             1769zzz  benign       7  2.128085          0.0     0.60206
994205            cqgzfglj  benign       8  2.750000          0.0     0.00000
995538       827fa7c868b4b  benign      13  3.026987          0.0     0.00000
997574   47a439d2b81fc30c1  benign      17  3.616875          0.0     0.00000

[900 rows x 6 columns]

In [83]:
all_domains.loc[weird_cond, 'class'] = 'weird'
print(all_domains['class'].value_counts())

benign       771557
malicious    294732
weird           900
Name: class, dtype: int64

C:\Users\Tharindu\miniconda3\envs\ml\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [85]:
from sklearn.model_selection import train_test_split
clf = sklearn.ensemble.RandomForestClassifier(n_estimators=20) # Trees in the forest

not_weird = all_domains[all_domains['class'] != 'weird']
X = not_weird[['length', 'entropy', 'alexa_grams', 'word_grams']].values

# Labels (scikit learn uses 'y' for classification labels)
y = np.array(not_weird['class'].tolist())

# Train on a 80/20 split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
# First train on the whole thing before looking at prediction performance
clf.fit(X, y)

RandomForestClassifier(n_estimators=20)

In [86]:
y_pred

array(['benign', 'benign', 'benign', ..., 'malicious', 'benign', 'benign'],
      dtype='<U9')

In [88]:
y_test

array(['benign', 'benign', 'benign', ..., 'malicious', 'benign', 'benign'],
      dtype='<U9')

In [91]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.9185118494968536