In [30]:
import pandas as pd
import numpy as np
import tldextract

In [31]:
alexa_dataframe = pd.read_csv("top-1m.csv", header=None,  index_col=0)

In [32]:
alexa_dataframe

                           1
0
1                 google.com
2                youtube.com
3               facebook.com
4                  baidu.com
5              wikipedia.org
...                      ...
999996              sibf.org
999997          bukapintu.co
999998         klatovynet.cz
999999   elconquistadorfm.cl
1000000    laputertienda.com

[1000000 rows x 1 columns]

In [33]:
alexa_dataframe.rename(columns = {1: 'url'}, inplace = True)

In [34]:
def domain_extract(uri):
    ext = tldextract.extract(uri)
    if (not ext.suffix):
        return np.nan
    else:
        return ext.domain

In [35]:
alexa_dataframe['domain'] = [ domain_extract(uri) for uri in alexa_dataframe['url']]

In [36]:
del alexa_dataframe['url']

In [37]:
alexa_dataframe

                   domain
0
1                  google
2                 youtube
3                facebook
4                   baidu
5               wikipedia
...                   ...
999996               sibf
999997          bukapintu
999998         klatovynet
999999   elconquistadorfm
1000000     laputertienda

[1000000 rows x 1 columns]

In [38]:
alexa_dataframe.drop_duplicates()
alexa_dataframe.dropna()

                   domain
0
1                  google
2                 youtube
3                facebook
4                   baidu
5               wikipedia
...                   ...
999996               sibf
999997          bukapintu
999998         klatovynet
999999   elconquistadorfm
1000000     laputertienda

[999992 rows x 1 columns]

In [39]:
alexa_dataframe = alexa_dataframe.reindex(np.random.permutation(alexa_dataframe.index))
alexa_total = alexa_dataframe.shape[0]

In [40]:
alexa_total

1000000

In [41]:
alexa_dataframe['class'] = 'benign'

In [42]:
alexa_dataframe

                 domain   class
0
841531   cassavamachine  benign
298648            polac  benign
269323       tecnoyouth  benign
450893      securitytut  benign
439656          pauline  benign
...                 ...     ...
267283       guiacidade  benign
888645       sharepoint  benign
754022        sobremesa  benign
71178   sendungverpasst  benign
162474        photofile  benign

[1000000 rows x 2 columns]

In [43]:
dga_dataframe = pd.read_csv('dga_domains_full.csv', header=None)

In [44]:
dga_dataframe

            0             1                                 2
0         dga          gozi            mortiscontrastatim.com
1         dga       corebot  cvyh1po636avyrsxebwbkn7.ddns.net
2       legit         alexa                plasticbags.sa.com
3       legit         alexa                      mzltrack.com
4       legit         alexa                      miss-slim.ru
...       ...           ...                               ...
674893    dga      padcrypt              fkmmnlmdokedddmn.com
674894    dga        emotet               cwnhlchfhcqrgass.eu
674895  legit         alexa                        weloty.com
674896    dga  cryptolocker                mwxquxbokithpn.net
674897    dga        necurs                      aecojeyem.ki

[674898 rows x 3 columns]

In [45]:
dga_dataframe = dga_dataframe.loc[dga_dataframe[0] == "dga"]

In [46]:
dga_dataframe

          0             1                                 2
0       dga          gozi            mortiscontrastatim.com
1       dga       corebot  cvyh1po636avyrsxebwbkn7.ddns.net
5       dga       ranbyus                 txumyqrubwutbb.cc
7       dga         symmi            ixekrihagimau.ddns.net
8       dga        emotet               rjyuosmhfnaedlyg.eu
...     ...           ...                               ...
674892  dga       murofet               poeguvtsixuriem.net
674893  dga      padcrypt              fkmmnlmdokedddmn.com
674894  dga        emotet               cwnhlchfhcqrgass.eu
674896  dga  cryptolocker                mwxquxbokithpn.net
674897  dga        necurs                      aecojeyem.ki

[337500 rows x 3 columns]

In [47]:
del dga_dataframe[0]

In [48]:
del dga_dataframe[1]

In [49]:
dga_dataframe['class'] = 'malicious'

C:\Users\Tharindu\miniconda3\envs\ml\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [50]:
dga_dataframe

                                       2      class
0                 mortiscontrastatim.com  malicious
1       cvyh1po636avyrsxebwbkn7.ddns.net  malicious
5                      txumyqrubwutbb.cc  malicious
7                 ixekrihagimau.ddns.net  malicious
8                    rjyuosmhfnaedlyg.eu  malicious
...                                  ...        ...
674892               poeguvtsixuriem.net  malicious
674893              fkmmnlmdokedddmn.com  malicious
674894               cwnhlchfhcqrgass.eu  malicious
674896                mwxquxbokithpn.net  malicious
674897                      aecojeyem.ki  malicious

[337500 rows x 2 columns]

In [51]:
dga_dataframe = dga_dataframe.reindex(np.random.permutation(dga_dataframe.index))
dga_total = dga_dataframe.shape[0]

In [52]:
dga_total

337500

In [53]:
dga_dataframe['domain'] = [ domain_extract(uri) for uri in dga_dataframe[2]]

In [54]:
dga_dataframe[2] = dga_dataframe['domain']

In [55]:
del dga_dataframe['domain']

In [56]:
dga_dataframe.rename(columns = {2: 'domain'}, inplace = True)

In [57]:
dga_dataframe

                                       domain      class
332634  p62l48c59dygvowlskxosgvcsdtd20aym69nu  malicious
570936                            selfengaged  malicious
277405                       enbacankadmecfba  malicious
510995                      vrtmfqdnwomekardo  malicious
418982                         ocvmubkuktvczh  malicious
...                                       ...        ...
8880                                     zixw  malicious
593049                     kyxp4j1evbk81jhaig  malicious
296792                              eybqklbhb  malicious
640972                        ohfwccwkrpltrjx  malicious
311438                   legibussquitheologie  malicious

[337500 rows x 2 columns]

In [58]:
dga_dataframe.drop_duplicates()
dga_dataframe.dropna()

                                       domain      class
332634  p62l48c59dygvowlskxosgvcsdtd20aym69nu  malicious
570936                            selfengaged  malicious
277405                       enbacankadmecfba  malicious
510995                      vrtmfqdnwomekardo  malicious
418982                         ocvmubkuktvczh  malicious
...                                       ...        ...
8880                                     zixw  malicious
593049                     kyxp4j1evbk81jhaig  malicious
296792                              eybqklbhb  malicious
640972                        ohfwccwkrpltrjx  malicious
311438                   legibussquitheologie  malicious

[337181 rows x 2 columns]

In [59]:
alexa_dataframe['type'] = [str(type(x)) for x in alexa_dataframe['domain']]
dga_dataframe['type'] = [str(type(x)) for x in dga_dataframe['domain']]

alexa_dataframe = alexa_dataframe[alexa_dataframe.type == "<class 'str'>"]
dga_dataframe = dga_dataframe[dga_dataframe.type == "<class 'str'>"]

In [83]:
alexa_dataframe['length'] = [len(x) for x in alexa_dataframe['domain']]
alexa_dataframe = alexa_dataframe[alexa_dataframe['length'] > 6]

dga_dataframe['length'] = [len(x) for x in dga_dataframe['domain']]
dga_dataframe = dga_dataframe[dga_dataframe['length'] > 6]

C:\Users\Tharindu\miniconda3\envs\ml\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Tharindu\miniconda3\envs\ml\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [84]:
del alexa_dataframe['length']
del dga_dataframe['length']

In [68]:
del alexa_dataframe['type']
del dga_dataframe['type']

In [85]:
dga_dataframe.shape

(294732, 2)

In [86]:
alexa_dataframe.shape

(772457, 2)

In [87]:
alexa_t1 = alexa_dataframe.iloc[0:210000]
alexa_t2 = alexa_dataframe.iloc[0:140000]
alexa_t3 = alexa_dataframe.iloc[0:280000]

dga_t1 = dga_dataframe.iloc[0:210000]
dga_t2 = dga_dataframe.iloc[0:280000]
dga_t3 = dga_dataframe.iloc[0:140000]

In [88]:
all_1 = pd.concat([alexa_t1, dga_t1], ignore_index=True)
all_2 = pd.concat([alexa_t2, dga_t2], ignore_index=True)
all_3 = pd.concat([alexa_t3, dga_t3], ignore_index=True)

In [89]:
all_1 = all_1.reindex(np.random.permutation(all_1.index))
all_2 = all_2.reindex(np.random.permutation(all_2.index))
all_3 = all_3.reindex(np.random.permutation(all_3.index))

In [92]:
import math
from collections import Counter
 
def entropy(s):
    p, lns = Counter(s), float(len(s))
    return -sum( count/lns * math.log(count/lns, 2) for count in p.values())
  
all_1['entropy'] = [entropy(x) for x in all_1['domain']]
all_2['entropy'] = [entropy(x) for x in all_2['domain']]
all_3['entropy'] = [entropy(x) for x in all_3['domain']]

                   domain      class   entropy
55268             pairade     benign  2.521641
184507   ifeqmamkowymdiiw  malicious  3.280639
110008            finyear     benign  2.807355
186575  zechariahcamellia  malicious  3.028639
279914          ugatlehne  malicious  2.947703
...                   ...        ...       ...
22139           homestore     benign  2.725481
151221        saligufqbex  malicious  3.459432
343396          garolsumu  malicious  2.947703
399213  eareoxepvjhbijauv  malicious  3.454822
6942             vinamilk     benign  2.750000

[420000 rows x 3 columns]

In [95]:
all_1['length'] = [len(x) for x in all_1['domain']]
all_2['length'] = [len(x) for x in all_2['domain']]
all_3['length'] = [len(x) for x in all_3['domain']]

In [96]:
all_3

                       domain      class   entropy  length
70130           juliosliquors     benign  2.931209      13
204785  access-im-unternehmen     benign  3.403989      21
408826                dynserv  malicious  2.807355       7
315384                puzadyv  malicious  2.807355       7
268858               trhacker     benign  2.750000       8
...                       ...        ...       ...     ...
154576               empretel     benign  2.405639       8
407878                jenupej  malicious  2.235926       7
164492            casinodrive     benign  3.277613      11
368521      qlirjjlyshklyflfb  malicious  3.263933      17
414512                dynserv  malicious  2.807355       7

[420000 rows x 4 columns]

In [98]:
import sklearn.ensemble
from sklearn import feature_extraction


alexa_vc = sklearn.feature_extraction.text.CountVectorizer(analyzer='char', ngram_range=(3,5), min_df=1e-4, max_df=1.0)
counts_matrix = alexa_vc.fit_transform(alexa_dataframe['domain'].apply(lambda x: np.str_(x)))
alexa_counts = np.log10(counts_matrix.sum(axis=0).getA1())
ngrams_list = alexa_vc.get_feature_names()

In [101]:
word_dataframe = pd.read_csv('words.csv',header=0)
word_dataframe = word_dataframe[word_dataframe['count'] > 50000]

dict_vc = sklearn.feature_extraction.text.CountVectorizer(analyzer='char', ngram_range=(3,5), min_df=1e-5, max_df=1.0)
counts_matrix = dict_vc.fit_transform(word_dataframe['word'].apply(lambda x: np.str_(x)))
dict_counts = np.log10(counts_matrix.sum(axis=0).getA1())
ngrams_list = dict_vc.get_feature_names()

In [102]:
all_1['alexa_grams']= alexa_counts * alexa_vc.transform(all_1['domain']).T 
all_1['word_grams']= dict_counts * dict_vc.transform(all_1['domain']).T 

all_2['alexa_grams']= alexa_counts * alexa_vc.transform(all_2['domain']).T 
all_2['word_grams']= dict_counts * dict_vc.transform(all_2['domain']).T 

all_3['alexa_grams']= alexa_counts * alexa_vc.transform(all_3['domain']).T 
all_3['word_grams']= dict_counts * dict_vc.transform(all_3['domain']).T

In [106]:
all_3.groupby(['class']).mean()

            entropy     length  alexa_grams  word_grams
class
benign     2.963952  11.337482    52.030786   33.881284
malicious  3.177919  14.362857    27.952160   20.635840

In [111]:
weird_cond1 = (all_1['class']=='benign') & (all_1['word_grams']<3) & (all_1['alexa_grams']<2)
weird_cond2 = (all_2['class']=='benign') & (all_2['word_grams']<3) & (all_2['alexa_grams']<2)
weird_cond3 = (all_3['class']=='benign') & (all_3['word_grams']<3) & (all_3['alexa_grams']<2)

weird1 = all_1[weird_cond1]
weird2 = all_2[weird_cond2]
weird3 = all_3[weird_cond3]

In [112]:
print(weird1.shape[0])
print(weird2.shape[0])
print(weird3.shape[0])

300
190
385

In [114]:
all_1.loc[weird_cond1, 'class'] = 'weird'
all_2.loc[weird_cond2, 'class'] = 'weird'
all_3.loc[weird_cond3, 'class'] = 'weird'

In [115]:
not_weird1 = all_1[all_1['class'] != 'weird']
not_weird2 = all_2[all_2['class'] != 'weird']
not_weird3 = all_3[all_3['class'] != 'weird']

In [117]:
x1 = not_weird1[['length', 'entropy', 'alexa_grams', 'word_grams']].values
x2 = not_weird2[['length', 'entropy', 'alexa_grams', 'word_grams']].values
x3 = not_weird3[['length', 'entropy', 'alexa_grams', 'word_grams']].values

y1 = np.array(not_weird1['class'].tolist())
y2 = np.array(not_weird2['class'].tolist())
y3 = np.array(not_weird3['class'].tolist())

In [125]:
from sklearn.naive_bayes import GaussianNB

clf_rf = sklearn.ensemble.RandomForestClassifier(n_estimators=30)
clf_knn = sklearn.neighbors.KNeighborsClassifier(n_neighbors=13)
clf_c45 = sklearn.tree.DecisionTreeClassifier()
clf_nb = GaussianNB()

In [121]:
from sklearn.model_selection import train_test_split

X1_train, X1_test, y1_train, y1_test = train_test_split(x1, y1, test_size=0.2)
X2_train, X2_test, y2_train, y2_test = train_test_split(x2, y2, test_size=0.2)
X3_train, X3_test, y3_train, y3_test = train_test_split(x3, y3, test_size=0.2)

In [126]:
clf_rf.fit(X1_train, y1_train)
y1_pred_rf = clf_rf.predict(X1_test)

clf_knn.fit(X1_train, y1_train)
y1_pred_knn = clf_knn.predict(X1_test)

clf_c45.fit(X1_train, y1_train)
y1_pred_c45 = clf_c45.predict(X1_test)

clf_nb.fit(X1_train, y1_train)
y1_pred_nb = clf_nb.predict(X1_test)

In [130]:
from sklearn.metrics import accuracy_score, precision_score, f1_score

print("T1 RF ACC: {}".format(accuracy_score(y1_test, y1_pred_rf)))
print("T1 kNN ACC: {}".format(accuracy_score(y1_test, y1_pred_knn)))
print("T1 C4.5 ACC: {}".format(accuracy_score(y1_test, y1_pred_c45)))
print("T1 NB ACC: {}".format(accuracy_score(y1_test, y1_pred_nb)))
print("\n")
print("T1 RF PPV: {}".format(precision_score(y1_test, y1_pred_rf, average="binary", pos_label="benign")))
print("T1 kNN PPV: {}".format(precision_score(y1_test, y1_pred_knn, average="binary", pos_label="benign")))
print("T1 C4.5 PPV: {}".format(precision_score(y1_test, y1_pred_c45, average="binary", pos_label="benign")))
print("T1 NB PPV: {}".format(precision_score(y1_test, y1_pred_nb, average="binary", pos_label="benign")))
print("\n")
print("T1 RF F1: {}".format(f1_score(y1_test, y1_pred_rf, average="binary", pos_label="benign")))
print("T1 kNN F1: {}".format(f1_score(y1_test, y1_pred_knn, average="binary", pos_label="benign")))
print("T1 C4.5 F1: {}".format(f1_score(y1_test, y1_pred_c45, average="binary", pos_label="benign")))
print("T1 NB F1: {}".format(f1_score(y1_test, y1_pred_nb, average="binary", pos_label="benign")))

T1 RF ACC: 0.8868477483917083
T1 kNN ACC: 0.8931736954967834
T1 C4.5 ACC: 0.8455444365022635
T1 NB ACC: 0.8260185847033595


T1 RF PPV: 0.8625921882311001
T1 kNN PPV: 0.8689764411922185
T1 C4.5 PPV: 0.8472985238618449
T1 NB PPV: 0.7866499529927923


T1 RF F1: 0.8907346478613994
T1 kNN F1: 0.8967756046460763
T1 C4.5 F1: 0.8454910559998092
T1 NB F1: 0.8375709042375709

In [131]:
clf_rf.fit(X2_train, y2_train)
y2_pred_rf = clf_rf.predict(X2_test)

clf_knn.fit(X2_train, y2_train)
y2_pred_knn = clf_knn.predict(X2_test)

clf_c45.fit(X2_train, y2_train)
y2_pred_c45 = clf_c45.predict(X2_test)

clf_nb.fit(X2_train, y2_train)
y2_pred_nb = clf_nb.predict(X2_test)

In [132]:
print("T2 RF ACC: {}".format(accuracy_score(y2_test, y2_pred_rf)))
print("T2 kNN ACC: {}".format(accuracy_score(y2_test, y2_pred_knn)))
print("T2 C4.5 ACC: {}".format(accuracy_score(y2_test, y2_pred_c45)))
print("T2 NB ACC: {}".format(accuracy_score(y2_test, y2_pred_nb)))
print("\n")
print("T2 RF PPV: {}".format(precision_score(y2_test, y2_pred_rf, average="binary", pos_label="benign")))
print("T2 kNN PPV: {}".format(precision_score(y2_test, y2_pred_knn, average="binary", pos_label="benign")))
print("T2 C4.5 PPV: {}".format(precision_score(y2_test, y2_pred_c45, average="binary", pos_label="benign")))
print("T2 NB PPV: {}".format(precision_score(y1_test, y1_pred_nb, average="binary", pos_label="benign")))
print("\n")
print("T2 RF F1: {}".format(f1_score(y2_test, y2_pred_rf, average="binary", pos_label="benign")))
print("T2 kNN F1: {}".format(f1_score(y2_test, y2_pred_knn, average="binary", pos_label="benign")))
print("T2 C4.5 F1: {}".format(f1_score(y2_test, y2_pred_c45, average="binary", pos_label="benign")))
print("T2 NB F1: {}".format(f1_score(y2_test, y2_pred_nb, average="binary", pos_label="benign")))

T2 RF ACC: 0.8798742288177985
T2 kNN ACC: 0.8838760391605727
T2 C4.5 ACC: 0.842666920749863
T2 NB ACC: 0.8372478025773564


T2 RF PPV: 0.7952316030991254
T2 kNN PPV: 0.8015801580158016
T2 C4.5 PPV: 0.7643339716030203
T2 NB PPV: 0.7866499529927923


T2 RF F1: 0.8258512328199462
T2 kNN F1: 0.8314315352697097
T2 C4.5 F1: 0.7620762940816252
T2 NB F1: 0.7453837410795805

In [133]:
clf_rf.fit(X3_train, y3_train)
y3_pred_rf = clf_rf.predict(X3_test)

clf_knn.fit(X3_train, y3_train)
y3_pred_knn = clf_knn.predict(X3_test)

clf_c45.fit(X3_train, y3_train)
y3_pred_c45 = clf_c45.predict(X3_test)

clf_nb.fit(X3_train, y3_train)
y3_pred_nb = clf_nb.predict(X3_test)

In [134]:
print("T3 RF ACC: {}".format(accuracy_score(y3_test, y3_pred_rf)))
print("T3 kNN ACC: {}".format(accuracy_score(y3_test, y3_pred_knn)))
print("T3 C4.5 ACC: {}".format(accuracy_score(y3_test, y3_pred_c45)))
print("T3 NB ACC: {}".format(accuracy_score(y3_test, y3_pred_nb)))
print("\n")
print("T3 RF PPV: {}".format(precision_score(y3_test, y3_pred_rf, average="binary", pos_label="benign")))
print("T3 kNN PPV: {}".format(precision_score(y3_test, y3_pred_knn, average="binary", pos_label="benign")))
print("T3 C4.5 PPV: {}".format(precision_score(y3_test, y3_pred_c45, average="binary", pos_label="benign")))
print("T3 NB PPV: {}".format(precision_score(y3_test, y3_pred_nb, average="binary", pos_label="benign")))
print("\n")
print("T3 RF F1: {}".format(f1_score(y3_test, y3_pred_rf, average="binary", pos_label="benign")))
print("T3 kNN F1: {}".format(f1_score(y3_test, y3_pred_knn, average="binary", pos_label="benign")))
print("T3 C4.5 F1: {}".format(f1_score(y3_test, y3_pred_c45, average="binary", pos_label="benign")))
print("T3 NB F1: {}".format(f1_score(y3_test, y3_pred_nb, average="binary", pos_label="benign")))

T3 RF ACC: 0.9116213672056528
T3 kNN ACC: 0.9143262276134075
T3 C4.5 ACC: 0.8706075807585525
T3 NB ACC: 0.8054407015955102


T3 RF PPV: 0.9125400387112246
T3 kNN PPV: 0.9144770648487548
T3 C4.5 PPV: 0.904410568003038
T3 NB PPV: 0.7977790588306684


T3 RF F1: 0.9349197574736546
T3 kNN F1: 0.9369121156815948
T3 C4.5 F1: 0.9020697118636425
T3 NB F1: 0.8656175928364497